
.gitignore.txt
.ipynb_checkpoints

01.Introduction to Deep Learning. Basic Models/.ipynb_checkpoints/NN model without Keras-checkpoint.ipynb
01.Introduction to Deep Learning. Basic Models/.ipynb_checkpoints/NN model without Keras-checkpoint.ipynb
